html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}
a {
	color: #7a63ff;
	text-decoration: none;
}
.yin-yang {
	align-items: center;
	justify-content: center;
}
body.light-mode {
	background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease;
}

body.dark-mode {
	background-color: #10171d;
	color: #dfdfdf;

	.navbar {
		background-color: #1b2938;
	}

	.dark-mode-toggle > button {
		color: #999;
		&:last-child {
			color: lightblue;
		}
	}
}
.dark-mode-toggle button:active,
.dark-mode-toggle button:focus {
	outline: none;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	background-color: #95d3ff;
	padding: 20px;
}

body.dark-mode .content code {
	background-color: #1b2938;
}

body.dark-mode .content a {
	color: #ee09;
}

body.dark-mode .content button {
	color: #ee09;
}

.dark-mode-toggle {
	position: absolute;
	right: 50px;
	top: 50px;
	margin: 0 auto;
	& > button {
		font-size: 1.2em;
		background: none;
		border: none;
		color: #ffe600;
		cursor: pointer;
		transition: color 0.3s ease;
	}
}
.header {
	text-align: center;
	padding: 2rem 0;
	background: #bb6aeb;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.split {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}
.left {
	padding: 1rem;
	width: 25%;
}
.right {
	padding: 1rem;
	width: 75%;
}
.light {
	margin: 0.25rem, 0;
	font-size: 0.9rem;
	color: #607d8b;
}

@media only screen and (max-width: 1024px) {
	.left {
		width: 100%;
	}
	.left pre {
		width: 100%;
	}
	.right {
		width: 100%;
	}
}

//Todo put focus pseudo element to dark-mode-toggle
