.header {
	text-align: center;
	padding: 2rem 0;
	background: #bb6aeb;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.split {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}
.left {
	padding: 1rem;
	width: 25%;
}
.right {
	padding: 1rem;
	width: 75%;
}
.light {
	margin: 0.25rem, 0;
	font-size: 0.9rem;
	color: #607d8b;
}

@media only screen and (max-width: 1024px) {
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
}
